backcall==0.2.0
colorama==0.4.5
debugpy==1.5.1
decorator==5.1.1
entrypoints==0.4
ipykernel==6.15.2
ipython_genutils==0.2.0
jedi==0.18.1
jupyter_server==1.18.1
packaging==21.3
parso==0.8.3
pickleshare==0.7.5
prompt_toolkit==3.0.20
psutil==5.9.0
pydevd==2.6.0
pygments==2.11.2
six==1.16.0
tornado==6.1
traitlets==5.1.1
wcwidth==0.2.5
zmq==23.2.0
IPython==7.31.1
jupyter_client==7.3.4
jupyter_core==4.11.1
jupyterlab==3.4.4
notebook==6.4.12
