backcall==0.2.0
colorama==0.4.5
cython_runtime==NA
dateutil==2.8.2
debugpy==1.5.1
decorator==5.1.1
entrypoints==0.4
ipykernel==6.15.2
ipython_genutils==0.2.0
jedi==0.18.1
jupyter_server==1.18.1
mpl_toolkits==NA
nt==NA
ntsecuritycon==NA
packaging==21.3
parso==0.8.3
pickleshare==0.7.5
pkg_resources==NA
prompt_toolkit==3.0.20
psutil==5.9.0
pydev_ipython==NA
pydevconsole==NA
pydevd==2.6.0
pydevd_concurrency_analyser==NA
pydevd_file_utils==NA
pydevd_plugins==NA
pydevd_tracing==NA
pygments==2.11.2
pythoncom==NA
pywintypes==NA
six==1.16.0
sphinxcontrib==NA
storemagic==NA
tornado==6.1
traitlets==5.1.1
wcwidth==0.2.5
win32api==NA
win32com==NA
win32security==NA
zmq==23.2.0
zope==NA
IPython==7.31.1
jupyter_client==7.3.4
jupyter_core==4.11.1
jupyterlab==3.4.4
notebook==6.4.12
